*{
    font-family:"Courier New", Courier, monospace;
    font-weight: 100;
    margin: 0;
}
body,html{
    height: 100%;
    background-color: #fff;
    color: #000;
}
#header-marquee{
    letter-spacing: .3em;
    text-transform: lowercase;
    font-size: 3em;;
    overflow: hidden;
    position: fixed;
    top: 0;
    margin-bottom:25px; 
    white-space: nowrap;
    background-color: #505050;
    animation: marquee 17s linear infinite,neon2 3s linear infinite;/*
    animation-duration: 4s;
    animation-iteration-count: infinite; */
    /* animation: neon2 3s linear infinite; */
    color: 000;
}

.content{
    margin-top:4em;
}
@keyframes marquee {
    0%   { text-indent: 0 }
    100% { text-indent: -485px }
}

@keyframes neon2 {
    0% {
    }

    50% {
      text-shadow: 0 0 5px #555, 0 0 10px #555, 0 0 15px #555, 0 0 20px #000, 0 0 35px #000, 0 0 40px #000, 0 0 50px #000, 0 0 75px #000;
    }
    100% {
      }
  }
  